<section class="bg-white text-dark pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="  mb-4">Projects Overview</h3>
                <h4 class="  mb-4">Here you can find all your current and previous projects you have been a part of.
                </h4>
            </div>
        </div>
        <div class="row text-center mt-md-5">
            {{#each projects}}
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">     
                    <a href="#" class="submitBtn" id={{id}}><h3><strong> {{name}} </strong></h3></a>
                   <p>{{id}}</p>
                    <p>Due Date: {{dueDate}}</p>
            </div> 
            {{else}}
                    <p>No projects available</p>
            {{/each}} 
        </div>
    </div>
</section>
<script>
     $( document ).ready( function(){
        var submitBtn = $(".submitBtn");
        console.log("Hi");

        submitBtn.on( "click", () => {
            event.preventDefault();
            console.log(event.target.parentElement.getAttribute("id"));
            console.log("Hi2");
         console.log("ProjectID", $(this).val());
         console.log("ProjectID", $("id").val());


     })
     })

</script>