<section class="bg-white text-dark pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="  mb-4">Projects Overview</h3>
                <h4 class="  mb-4">Here you can find all your current and previous projects you have been a part of.
                </h4>
            </div>
        </div>
        <div class="row text-center mt-md-5">
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                {{!-- <h3><strong>{{#each projects as | project  projectPosition | }} --}}
                    <h3><strong>
                        {{#each projects}}
                        <p>This isn't from project-block</p>
                        {{!-- {{this}} --}}
                        {{!-- <p>{{name}}</p> --}}
                        {{> projects/project-block}}
                        <p>{{name}}</p>
                        {{!-- {{this}} --}}
                        {{else}}
                        <p>No projects available</p>
                        {{/each}}

                </strong></h3>
                <p>Position</p>
                <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                <div class="mb-1 mt-2 mr-3 align-self-center pt-3 d-block">
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-twitter fa-md text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-facebook fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-linkedin fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-google-plus fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>ProjectName 2</strong></h3>
                <p>Position</p>
                <p>He packed him seven versalia, put his initial into the belt and made himself on the way.</p>
                <div class="mb-1 mt-2 mr-3 align-self-center pt-3 d-block">
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-twitter fa-md text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-facebook fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-linkedin fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-google-plus fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>ProjectName 3</strong></h3>
                <p>Position</p>
                <p>She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                <div class="mb-1 mt-2 mr-3 align-self-center pt-3 d-block">
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-twitter fa-md text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-facebook fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-linkedin fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-google-plus fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>ProjectName 4</strong></h3>
                <p>Position</p>
                <p>He packed him seven versalia, put his initial into the belt and made himself on the way.</p>
                <div class="mb-1 mt-2 mr-3 align-self-center pt-3 d-block">
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-twitter fa-md text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-facebook fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-linkedin fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="#" role="button" class="  p-1 m-2">
                        <i class="fab fa-google-plus fa-md  text-primary" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>