<section class="bg-white text-dark pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="mb-2">Projects Overview</h3>
                <h4>Here you can find all your projects</h4>
            </div>
        </div>
        <div class="row text-center mt-md-5">
            {{#each projects}}
            <div class="col-md-3 mb-3 col-12">
                <div class="border p-3">
                    <a href="/projects/{{id}}">
                        <h3>{{name}}</h3>
                    </a>
                    <!--<p>{{id}}</p>-->
                    <p>{{description}}</p>
                    <p class="mb-0">
                        Due: {{dueDate}}
                    </p>
                </div>
            </div> 
            {{else}}
                    <p>No projects available</p>
            {{/each}} 
        </div>
    </div>
</section>
<script>
     $( document ).ready( function(){
        var submitBtn = $(".submitBtn");
        console.log("Hi");

        submitBtn.on( "click", () => {
            event.preventDefault();
            console.log(event.target.parentElement.getAttribute("id"));
            console.log("Hi2");
         console.log("ProjectID", $(this).val());
         console.log("ProjectID", $("id").val());


     })
     })

</script>