<section class="bg-white text-dark pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2 class="mb-2"><strong>Projects Overview</strong></h3>
                <h4 class="mb-2">Here you can find all your projects.</h4>
            </div>
        </div>
        <div class="row text-center mt-md-5">

            {{#each projects}}
            <div class="col-md-3 mb-3 col-12">
                <div class="border p-3">
                    <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="lightbulb.png">  
                    <a href="/projects/{{id}}">
                        <h3>{{name}}</h3>
                    </a>
                    <!--<p>{{id}}</p>-->
                    <p>{{description}}</p>
                    <p class="mb-0">
                        Due: {{dueDate}}
                    </p>
                </div>
            </div> 
            {{else}}
                    <p>No projects available</p>
            {{/each}}

        </div>
    </div>
</section>
