

<section class="bg-white text-dark pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="  mb-4">Task Report</h3>
                <h4 class="  mb-4">Here you can find all of the tasks that need to be completed by the project
                    collaborators.</h4>
            </div>
            <div>
          
            </div>
        </div>
        <div class="row text-center mt-md-5">
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>Overdue</strong></h3>
            {{#each tasks}}

            {{#if overdue}}
            <h3>Task name: {{shortname}}</h3>
            <p>Description: {{description}}</p>
            <p>Due Date: {{dueDate}}</p>
            {{!-- <button class="change-complete" data-id="{{id}}" data-newsleep="{{sleep}}">
		    {{#if completed}}Complete!{{else}}Re-do!{{/if}}
	        </button> --}}
            {{/if}}

            {{/each}}


            </div>
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>Due within 3 days</strong></h3>
                {{#each tasks}}

            {{#if lessThan3}}
            <h3>Task name: {{shortname}}</h3>
            <p>Description: {{description}}</p>
            <p>Due Date: {{dueDate}}</p>
            {{!-- <button class="change-complete" data-id="{{id}}" data-newsleep="{{sleep}}">
		    {{#if completed}}Complete!{{else}}Re-do!{{/if}}
	        </button> --}}
            {{/if}}

            {{/each}}

                
            </div>
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>Due within 7 days</strong></h3>
            {{#each tasks}}

            {{#if lessThan7}}
            <h3>Task name: {{shortname}}</h3>
            <p>Description: {{description}}</p>
            <p>Due Date: {{dueDate}}</p>
            {{!-- <button class="change-complete" data-id="{{id}}" data-newsleep="{{sleep}}">
		    {{#if completed}}Complete!{{else}}Re-do!{{/if}}
	        </button> --}}
            {{/if}}

            {{/each}}

                
            </div>
            <div class="col-md-3 mb-5 col-12">
                <img alt="image" style="max-width:150px;" class="img-fluid mb-4 mt-3 rounded-circle img-rised"
                    src="http://via.placeholder.com/250x250/007bff/ffffff">
                <h3><strong>Due in over a week</strong></h3>
            {{#each tasks}}

            {{#if oneWeek}}
            <h3>Task name: {{shortname}}</h3>
            <p>Description: {{description}}</p>
            <p>Due Date: {{dueDate}}</p>
            {{!-- <button class="change-complete" data-id="{{id}}" data-newsleep="{{sleep}}">
		    {{#if completed}}Complete!{{else}}Re-do!{{/if}}
	        </button> --}}
            {{/if}}

            {{/each}}
               
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>

{{!-- <script src="../public/js/moment.min.js" type="text/javascript"> --}}
<script>

</script>