<section class="bg-white text-dark pt-5 pb-5">
    <div class="container  ">
        <div class="row   justify-content-center align-content-center   d-flex  ">
            <div class="col-md-6 col-12 mx-auto">
                <h2 class="mb-3 mt-3">Welcome to your personalised dashboard</h2>
                <p class="text-h3 lead">Here you can find all the tasks that have been assigned to you.</p>
                <h4 class="mb-3 mt-3">Projects Completion Charts</h4>
                {{#each projects}}
                <div class="progress mb-3 mt-2">
                    
                    <div class="progress-bar" role="progressbar" style="width: 60%">
                        <span class="stacked-label " style="color: antiquewhite;">{{name}}</span>
                    </div>
                    
                </div>
                {{/each}}

                <p class="text-h3 mt-5 mb-5">
                    <a class="btn btn-outline-dark" href="http://bootstraptor.com">Learn More</a>
                </p>
                <h4 class="mb-3 mt-3">Completed Projects</h4>
                <div class="progress mb-3 mt-2">
                    <div class="progress-bar" role="progressbar" style="width: 100%">
                        <span class="stacked-label " style="color: antiquewhite;">ProjectCompleted 1</span>
                    </div>
                </div>
                <div class="progress mb-3 mt-2">
                    <div class="progress-bar " role="progressbar" style="width: 100%">
                        <span class="stacked-label" style="color: antiquewhite;">ProjectCompleted 2</span>
                    </div>
                </div>
                <div class="progress mb-3 mt-2">
                    <div class="progress-bar " role="progressbar" style="width: 100%">
                        <span class="stacked-label" style="color: antiquewhite;">ProjectCompleted 3</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mx-auto">
                <div class="card">
                 <div style="text-align: center;">
                    <img class="card-img-top shadow" src="urgent-new.png" style="height:150px; width:150px; text-align:center"alt="Profile">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Overdue</h4>
                        <p class="card-text text-muted">Needs your attention now...</p>
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#urgentTasks" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Overdue Tasks
                            </a>
                        <div class="collapse" id="urgentTasks">
                            
                            <div class="card card-body">
                                {{#each tasks}}
                                {{#if overdue}}
                                <p><strong>{{shortname}}</strong></p>
                                <p>{{dueDate}}</p>
                                <hr>
                                {{/if}}
                                {{/each}}
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mx-auto">
                <div class="card">
                    <div style="text-align: center;">
                    <img class="card-img-top shadow" src="important-new.png" style="height:150px; width:150px; text-align:center"alt="Profile">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Creeping up...</h4>
                        <p class="card-text text-muted">Due within 3 days</p>
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#importantTasks" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                Important Tasks..
                            </a>
                        <div class="collapse" id="importantTasks">
                            <div class="card card-body">
                                {{#each tasks}}
                                {{#if lessThanThree}}
                                <p><strong>{{shortname}}</strong></p>
                                <p>{{dueDate}}</p>
                                <hr>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>